# Editor lint
.#*
*~
*.sw?
*/.#*
*/*~
*/*.sw?
# macOS pollution
.DS_Store
*/DS_Store

log/
pdf/
hist/
OUT_DIR/
README.html
GEnRPAnalysis_C.so
GEnRPAnalysis_C.d
OUT_DIR
PlotGEnRP_C.d
PlotGEnRP_C.so
PlotGEnRP_C_ACLiC_dict_rdict.pcm
GEnRPAnalysis_C_ACLiC_dict_rdict.pcm
PlotGEnRPhcal_C.so
PlotGEnRPhcal_C.d
PlotGEnRPhcal_C_ACLiC_dict_rdict.pcm
GEnRPhcal_C_ACLiC_dict_rdict.pcm
GEnRPhcal_C.d
GEnRPhcal_C.so
HCAL-ANA.pdf
GEnRP-hcal_C.d
